<h1>Resultados</h1>
<p><strong>Título:</strong> <%= data.title%></p>
<p><strong>Imágen: </strong></p>
<img src="<%= data.url%>" alt="not working">
<p><strong>Thumbnail: </strong></p>
<img src="<%= data.thumbnailUrl%>" alt="not working">

<p><a href="/">Buscar Nuevamente!</a></p>