<h1>Busque una Imagen</h1>
<h3>Para buscar una imágen debe introducir el ID de esta, luego se le mostrará el título de la imágen, la imágen perse y
    la versión thumbnail de la imágen.</p>
    <form action="/results" method="GET">
        <input type="text" placeholder="buscar imagen" name="search">
        <input type="submit">
    </form>